<!-- In your HTML file, typically at the end of the body section -->
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Me</h2>
            <p>Alan Saji | Personal Portfolio project.</p>
        </div>
        <div class="footer-section contact">
            <h2>Contact Me</h2>
            <p>Email: rockstaralansaji@gmail.com</p>
            <p>Phone: +91 xxxxxxxxxx</p>
        </div>
        <div class="footer-section social">
            <h2>Follow Me</h2>
            <a href="https://www.linkedin.com/in/alan-saji-b346091b6/" target="_blank">Linkdin</a>
            <a href="https://twitter.com/AlanSaji2003" target="_blank">X</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 AnimeFacts. All Rights Reserved.</p>
    </div>
</footer>
