<%- include("partials/header.ejs") %>


<body>
    <main>
        
        <div class="container">
            <img class="banner home" src="images/banner2.jpg" alt="">
        </div>
        <h1 style="text-align: center;">Welcome to AnimeFacts</h1>
        <p style="text-align: center;">ALL INFO ABOUT ALL ANIME</p>
        <a style="margin-left: 44%;" class="custom-button" href="/animes"><h2>Find Animes</h2></a>
    </main>
    
    <%- include("partials/footer.ejs") %>
</body>
</html>

